{% extends 'base1.html' %}
{% block title %}
 Home Page
{% endblock %}

{% block content %}

{% for ele in projects %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ele.project_name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">CLient : {{ele.client_name}}</h6>
    <p class="card-text">{{ele.commence_date}}</p>
    <a href="{{ url_for('budget')}}" class="card-link">Create Budget</a>
    <a href="#" class="card-link">{{ele.status_flag}}</a>
  </div>
</div>
{% endfor %}
{% endblock %}