{% extends 'base1.html' %}
{% block title %}
  Manage Workstream
{% endblock %}
{% block content %}
 <a href="./settings" class="card-link">Back</a>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Workstream </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="">

              <div class="form-group">
      <label for="labortype">Labor type:</label>

       <input type="text" class="form-control" name="labortype" id="labortype"placeholder="labortype" ></td>

    </div>

              <div class="form-group">
      <label for="Country">Country:</label>

         <select class="form-control" name="Country" id="country">
    <option>India</option>
                 <option>US</option>

  </select>

    </div>

             <div class="form-group">
      <label for="cost">Cost per hour:</label>

       <input type="text" class="form-control" name="cost" id="cost"placeholder="cost per hour" ></td>

    </div>
<button type="submit" class="btn btn-primary">Add Labor category</button>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<table class="table" id="myTable">
  <thead>
    <tr>
      <th scope="col">Labor id</th>
      <th scope="col">Labortype</th>
        <th scope="col">Country</th>
         <th scope="col">Cost($)</th>
    </tr>
  </thead>
  <tbody>

  {% for id,name in labcttype.items() %}
   <tr>
       <td>{{ id }}</td>
       <td>{{ name }}</td>
       <td>{{ labctc[id]}}</td>
         <td>{{ labctcost[id]}}</td>
   </tr>
  {% endfor %}
  <tr>
      <td></td>
       <td></td>
      <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
   Add labor
</button>

</td>
<td></td>
  </tr>
  </tbody>

</table>



<script>
  var myModal = document.getElementById('myModal')
var myInput = document.getElementById('myInput')

myModal.addEventListener('shown.bs.modal', function () {
  myInput.focus()
})
</script>


{% endblock %}